build/
dist/
tests/utils/test_follow_symlinks
tests/utils/test_follow_symlinks_non_archived
zstash.egg-info/
*.pyc
*~
\#*


# Distribution / packaging
.idea/

# virtualenv
venv/

# Sphinx documentation
docs/_build/

# macOS Desktop Services Store
.DS_Store
